::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.tableau{
    position: fixed;
    left: 49%;
    background-color: rgba(0, 132, 255, 0.24);
    top:300px;
}
.survole:hover{ 
    background-color:rgb(165, 42, 42);

}
.vert:hover{
    background-color:green
}
@font-face {
    font-family:'Times New Roman', Times, serif ;
    src: url('');
    font-style: normal; 
}
html{
    
    background-color: #03203C;
    background-image: url("Budget.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
   

}
.saisi:focus{
    background-color: rgb(165, 42, 144);
}
.formulaire{
    background-color: rgba(0, 132, 255, 0.24);
    position: relative;
    right: 10%;
}
.container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
}
#descriptiondep{
    height: 70px;
}
#ajoutedepense:hover{
    background-color: aqua;
}
#ajoutrevenu:hover{
    background-color: aqua;
}
#ajoutedepense{
    position: absolute;
    right: 880px;
    top: 275px;
}
#ajoutrevenu{
    position: absolute;
    left:820px;
    top: 275px;
}

#tableDepense{
    background-color: rgba(0, 132, 255, 0.24);
    position: fixed;
    left:161px;
    top: 300px;
}
#formulairedepense{
    display: none;
}
#formulairevenu{
    display: none;
    
}
